<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Talk To Me</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/cover.css" rel="stylesheet">
    <script src="http://api.apertium.org/JSLibrary.js"></script>
    
</style>
</head>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                
              </ul>
            </div>
          </div>

          <div class="inner cover">
            <div class="col-lg-10" style="display: inline-block;">
                  <input type="text" class="form-control" id="inp">
                  <button type="button" class="btn btn-warning btn-sm" onclick="speak();" >
                   <small>Got Chrome?</small> Speak It Out!</button>
              </div><!-- /.col-lg-6 -->
          </div>

  
        </div>
  

<div class="mastfoot">
            <div class="inner">
              <p>Created by Aayush Kothari, Prashant Baid @ MIT, Manipal</p>
            </div>
          </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <!-- <script src="/assets/Translator.js"></script> -->
  <script src="/assets/Translator.js"> </script>  
<script>
function speak(){
  //var translator = new Translator();
  //translator.voiceToText(function(text){
  //    document.getElementById('inp').value +=text;
  //}, 'en-IN');
  var ans=apertium.isTranslatablePair("en","es");
  alert(ans);
}
</script>